<form ng-if="true" name="newWishListForm">
  <div class="row">
    <div class="col-xs-6">

      <div ng-repeat="band in bands" class="form-group">
        <label for="band_{{ $index + 1 }}" class="col-form-label">
          <p>Band {{$index + 1}}:</p>
        </label>
        <div>
          <input class="form-control" type="text" required placeholder="Enter Band" ng-model="band.name" id="band_{{ $index + 1}}">
          <span ng-click="removeBand(band.name)">delete</span>
        </div>
      </div>
      <button type="button" style="display: block; margin: 0 auto; outline-style: none;" ng-if="bands.length < 7" ng-click="addBand()" class="btn btn-success">Add Band</button>
      <br>
      <br>
      <button type="submit" ng-click="saveWishList(bands, newWishListForm)" ng-disabled="newEventForm.$invalid" class="btn btn-primary">Submit</button>
      <a href="/" class="btn">Cancel</a>
    </div>

    <div ng-if="bands[0].name" class="col-xs-6">
      <div class="row">
        <h2>Wishlist Preview:</h2>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 col-centered" >
          <div style="min-height: 275px; border: 1px solid black; border-radius: 5px; position: relative; margin-top:65px;">
            <img ng-src="{{userDetails.photoURL}}" style="border: 1px solid; position: relative; top: -50px; width:100px;height:100px; display: block; margin: auto; border-radius: 100%;" />
            <div style="position: relative; top: -25px; margin-left: 20px;">
              <div ng-if="bands" ng-repeat="band in bands">
                <div>{{$index +1}}. {{ band.name}}</div>
              </div>
            </div>
            <span style="position: absolute; bottom: -5px; right: 0; left: 0; text-align: center;">{{ userDetails.name }}</p>
          </div>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </div>
  </div>
</form>


<div ng-if="false" style="width: 100%; margin: auto;">
  <p>You need to sign into make a wish list.</p>
  <button type="submit" ng-click="loginWithFacebook()" class="btn btn-primary">Login to Make Your Wish List</button>
</div>
